/*
* ==========================================
* MIXINS
* ==========================================
*/

@mixin full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@mixin center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}
